@model DuoPoll.Dal.Entities.Poll
@{
    ViewData["Title"] = ViewData["Title"] ?? "Create Poll";
    ViewData["Current"] = ViewData["Current"] ?? "polls.create";
}
<form method="POST" asp-controller="Poll">
    <div class="grid grid-cols-2 max-w-2xl mx-auto gap-3 m-4 jus filter drop-shadow-lg hover:drop-shadow-2xl">
        <div class="col-span-1">Name:</div>
        <t-input name="Name" value="@Model.Name" required></t-input>

        <div class="col-span-1">Public:</div>
        <checkbox name="Public" @Html.DisplayText(Model.Public ? "checked" : "")></checkbox>

        <div class="col-span-1">Open:</div>
        <date-picker name="Open" lang="en" value="@Model.Open"></date-picker>

        <div class="col-span-1">Close:</div>
        <date-picker name="Close" lang="hu" value="@Model.Close"></date-picker>

        <t-button class="col-span-2">Submit</t-button>
    </div>
    @if (Model != null)
    {
        <answer-field poll="@Model.Url"></answer-field>
    }
</form>